* {
    box-sizing: border-box;
    font-family: Arial;
}
.main {
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    width: 501px;
    height: 700px;
    border: 1px solid #000;
}
.tetris {
    width: 500px;
    height: 900px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}
.excel {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}
.figure, .set{
    background-color: #1e488c;
}
input {
    display: block;
    margin: 30px auto;
    font-size: 30px;
    padding: 10px;
}
.controls {
    padding: 20px;
    position: absolute;
    top: 200px;
    right: 200px;
}
.modal {
    position: fixed;
    text-transform: uppercase;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.button {
    border: 2px solid #1e488c;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 0;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s;
}
.button:hover {
    border-radius: 40px;
}
.overlay {
    background-color: #1e488c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*display: block;*/
}























